body {
   direction: rtl;
   text-align: right;
   font-family: 'Assistant', sans-serif;
   flex-direction: column;
   justify-content:center;
   align-items: center;
   background-color: rgb(255, 255, 255);
   color: black;
 }

 