.agentProfile h1{
   font-size: 25px;
   margin:50px 30px 0px 20px;
}
.agentProfile .userData{
   position: absolute;
   top: 50%;
   left: 50%;
   margin: 40px 10px 10px 50px; 
   transform: translate(-50%, -50%);
}

.userData{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: white;
   background-color: #4d6d7661;
   border-radius: 2px 30px 2px 30px;
   height: 280px;
   width: 300px;
   padding: 20px 20px 20px 20px;
}
.userData .profIcon{
   font-size: 50px;
}
.userData p{
   margin-top: 6px;
   height: 20px;
   font-size: 22px;
   color: #6cd3ef;
}
.userData .icon{
   font-size: 27px;
   margin: 0px 0px -7px 1px;
}

.userData span{
   font-size: 15px;
   color: white;
}

.userData button{
   margin-top: 10px;
   color: white;
   font-size: 18px;
   font-weight: 100;
   padding-top:4px ;
   padding-bottom:4px ;
   width: 180px;
   background-color: transparent;
   border: solid 1px white;
   border-radius: 2px 30px 2px 30px;
   transition: color 0.3s ease, background-color 0.3s ease;
}

.userData button:hover{
   border-color:#6cd3ef ;
   cursor: pointer;
 }


