.header{
   margin-top: 70px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  }
 
  /* .logo{
   height: 180px;
   width: 240px;
  } */
  .yam{
   margin-top: -70px;
   height: 580px;
   width: 100%;
  } 
  .nadlan{
   height: 200px;
  }