@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.header{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  }

 .video {
  width: 100%;
  object-fit: cover;
  margin-top: -87px;
  /* יצירת מעבר הדרגתי עם מסכה */
  -webkit-mask-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 1) 30%, rgb(0, 0, 0) 70%, transparent);
  mask-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 0%, transparent);
}

.welcomeH{
  width: 100%;
  text-align: center;
  flex-direction: column;
  margin-top: -45px;
  /* border: solid 1px transparent; */
  /* border-top: solid 2px white; */
  /* border-bottom: solid 2px #6cd3ef; */
  border-image-source: linear-gradient(to right, transparent, white, white, transparent);
  border-image-slice: 1;
}

 .welcomeH h1{
  font-size: 65px;
  font-family: "Sora", serif;
  /* width: 300px; */
  font-weight: 200;
  color: white;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.448);

 }

 .welcomeH h2{
  margin-top: -40px;
  font-size: 50px;
  font-family: "Sora", serif;
  font-weight: 500;
  /* color: rgba(141, 138, 147, 0.76); */
  color: rgba(105, 232, 251, 0.338);
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.448);
}

.whoWeAre {
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  margin-top: 100px; 
  margin-bottom: 60px; 
  width: 99%; 
  padding: 20px; 
  border: solid 1px transparent;
  border-top: solid 2px white;
  border-bottom: solid 2px white;
  border-image-source: linear-gradient(to right, transparent, white, white, transparent);
  border-image-slice: 1;
  /* border-radius: 2px 30px 2px 30p; */
  /* background-color: #938d8d1f; */
  box-sizing: border-box;
}

.whoWeAre .whoText {
  display: flex;
  flex-direction: column; 
  flex: 1; 
  margin-left: 20px;
  margin-right: 20px;
  width: 50%;
}

.whoWeAre h2 {
  font-size: 60px;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.46);
  font-family: "Sora", serif;
  font-weight: 100;
  color: rgba(160, 152, 152, 0.696);
  text-align: center;
  transition: color 0.3s ease, background-color 0.3s ease;
  margin: 0 10px;
  padding-bottom: 5px;
  align-items: center;
  position: relative; 
  display: inline-block;
 
}

.whoWeAre h2::after {
  content: ""; 
  position: absolute;
  left: 0;
  bottom: 0; 
  width: 0; 
  height: 2px; 
  background-color: white; 
  transition: width 1s ease; 
}

.whoWeAre h2:hover::after {
  width: 100%; /* Expand the line to full width on hover */
}


.company-intro {
  font-family: 'Assistant', sans-serif;
  line-height: 1.3;
  text-align: right;
  padding: 20px;

}

.company-intro p {
  margin-bottom: 20px;
  font-size: 18px;
  color: white;
  /* color: #333; */
}

.company-intro .highlight {
  font-size: 22px;
  font-weight: 700;
  color: #6cd3ef;
  /* color: #0056b3; */

}

.company-intro ul {
  padding-right: 20px;
  list-style: disc;
}

.company-intro ul li {
  margin-bottom: 10px;
  font-size: 16px;
}

.whoWeAre .agentsVideo {
  height: 550px;
  width: 50%;
  object-fit: cover; 
  /* יצירת מעבר הדרגתי עם מסכה */
  -webkit-mask-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 1) 30%, rgb(0, 0, 0) 70%, transparent);
  mask-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 1) 15%, rgba(0, 0, 0, 1) 80%, transparent);
}

.contactBtn{
  text-align: center;
  /* font-family: "Fredoka", serif; */
  font-family: "Secular One", serif;
  color: white;
  font-size: 25px;
  font-weight: 100;
  padding-top:3px ;
  padding-bottom:3px ;
  width: 250px;
  /* background-color: none; */
  background-color: transparent;
  border: solid 1px white;
  border-radius: 2px 30px 2px 30px;
  transition: color 0.3s ease, background-color 0.3s ease;

}

.contactBtn:hover{
  border-color:#6cd3ef ;
  cursor: pointer;

}

.whyWeH{
  font-family: "Secular One", serif;
  font-size: 50px;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.46);
  font-weight: 100;
  margin-top: 20px;
  /* padding-bottom: -15px; */
  margin-bottom: 20px;
  align-items: center;
  text-align: center;
  position: relative; 
  transition: color 0.3s ease, background-color 0.3s ease;

}

.whyWeH::after {
  content: ""; 
  position: absolute;
  left: 0;
  bottom: 0; 
  width: 0; 
  height: 2px; 
  background-color:white;
  ; 
  transition: width 1s ease; 
}

.whyWeH:hover::after {
  width: 100%; /* Expand the line to full width on hover */
}

.whyW{
  display: flex;
  margin-top: 5px; 
  margin-bottom: 60px; 
  width: 100%;
  text-align: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  
}

.reasons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* background-color: rgb(255, 255, 255); */
  font-size: 22px;
  /* height: 350px; */
  width: 340px;
  padding: 0px 0px 15px 0px;
  transition: all 0.3s ease;
}

.reasons h4{
  font-size: 60px;
  color:#6cd3ef ;
  text-align: center;
  align-items: center;
  margin-bottom: 0px;
  transition: color 0.3s ease, background-color 0.3s ease;
  
}

.reasons h4:hover{
   transform: scale(1.2); 
  }

.offers {
  margin-top: 20px; 
  margin-bottom: 100px; 
  width: 100%;
  overflow: cover;
}

.offers img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  -webkit-mask-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 1) 30%, rgb(0, 0, 0) 70%, transparent);
  mask-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 0%, transparent);
}

.services-conteiner h3{
  font-family: "Secular One", serif;
  font-size: 40px;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.46);
  font-weight: 100;
  margin-top: 10px;
  margin-bottom: 20px;
  align-items: center;
  text-align: center;
  position: relative; 
  transition: color 0.3s ease, background-color 0.3s ease;

}

.services{
  display: flex;
  margin-top: 30px; 
  margin-bottom: 100px; 
  width: 100%;
  text-align: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap; 
  gap: 18px;
}

.service{
  border: solid white 1px;
  border-radius: 2px 30px 2px 30px;
  height: 180px;
  width: 220px;
  padding: 10px 20px 20px 20px;
  transition: color 0.3s ease, background-color 0.3s ease;
  /* transition-duration: 1s ; */

}

.services h4{
  font-size: 25px;
  margin-bottom: 15px;
}

.service:hover{
  /* transform: rotate(45deg); */
  /* border-radius: 2px 2px 2px 2px; */
  background-color: #4d6d7661;
}

.options_buy_sell{
display: flex;
margin-top: 30px;
margin-bottom: 160px;
flex-direction: row;
border-width: 100%;
}

.options{
height: 300px;
width: 380px;
margin-left: 20px;
margin-right: 20px;
}

.options img{
width: 100%;
height: 100%;
cursor: pointer;
border-radius: 2px 2px 2px 2px;
transition: color 0.3s ease, background-color 0.3s ease;

}

.options img:hover{
/* transform: opacity(1.03);  */
opacity: 0.8;

}

.options h2{
text-align: center;
/* font-family: "Fredoka", serif; */
font-family: "Secular One", serif;
color: white;
/* color: rgb(141, 208, 246); */
font-size: 25px;
font-weight: 500;
padding-top:3px ;
padding-bottom:3px ;
/* background-color: rgba(2, 2, 35, 0.811); */
border: solid 1px white;
border-radius: 2px 30px 2px 30px;
transition: color 0.3s ease, background-color 0.3s ease;

}
.options h2:hover{
border: solid 1px #6cd3ef;
/* transform: scale(1.1);  */
cursor: pointer;
}

/* FOOTER */
  .footer {
   background-color: rgb(2, 2, 35);
   padding: 6rem 4rem 3rem 4rem;
   font-size: 1.4rem;
   display: grid;
   grid-template-columns: auto auto;
   grid-row-gap: 0.75rem;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   border-top: solid 2px #6cd3ef;
   border-image-source: linear-gradient(to right, transparent, #6cd3ef, #6cd3ef, transparent);
   border-image-slice: 1;
 }

 .icon{
  font-size: 21px;
 }
 @media only screen and (max-width: 45em) {

  .options_buy_sell{
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
  }

  .options_buy_sell .options{
    margin-top: 100px;
  }
    .whyW {
      flex-direction: column;
      align-items: center;
    }
  
    .whyW .reasons {
      margin-top: -25px;
      width: 50%; /* מתאים את ה-div לרוחב המסך */
    }
   .footer {
     grid-template-columns: 1fr;
     grid-row-gap: 1.25rem;
     justify-items: center;
   }
 }
 .footer__logo {
   grid-row: 1 / 3;
   -ms-flex-item-align: center;
   align-self: center;
 }
 @media only screen and (max-width: 50em) {
   .footer__logo {
     grid-row: 1;
   }
 }
 .footer__logo img {
   height:70px;
 }
 .footer__nav {
   list-style: none;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   justify-content: flex-end;
 }
 .footer__nav li {
   margin-left: 1.5rem;
 }
 .footer__nav a {
   color: #4d6d76;
   text-decoration: none !important;
   -webkit-transition: all 0.2s;
   transition: all 0.2s;
 }
 .footer__nav a:hover,
 .footer__nav a:active {
   /* color: rgb(12, 150, 192); */
   color: rgba(24, 216, 152, 0.97);
 }
 .footer__copyright {
  justify-self: center;
  color: #999;
  font-size: 15px;

 }
 @media only screen and (max-width: 50em) {
   .footer__copyright {
     justify-self: center;
     font-size: 15px;
   }
 }












































