.nav {
   color: white;
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 80px;
   padding: 0 20px;
   position: sticky; 
   width: 100%;
   top: 0;
   left: 0;
   z-index: 1000; 
   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
 }

 .nav.scrolled{
   background:  rgb(2, 2, 35); 
   border: solid 1px transparent;
   /* border-top: solid 2px white; */
   border-bottom: solid 2px #6cd3ef;
   border-image-source: linear-gradient(to right, transparent, #6cd3ef, #6cd3ef, transparent);
   border-image-slice: 1;
 }
 
.logo{
   height:62px;
   width: auto;
   margin-left: 35px;
   margin-right: 10px;
   margin-top: 10px;
} 
 .nav ul {
   padding: 17px;
   padding-right: 15px;
   margin: 0;
   list-style: none;
   display: flex;
 }
 
 .nav a {
   color: white;
   text-decoration: none;
   height: 100%;
   padding: 12px 10px;
   /* border-radius: 18px; */
   font-weight: bold;
   text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.31);
   transition: color 0.3s ease, background-color 0.3s ease;
 }
 
 .nav a:hover {
   color:#6cd3ef; 
   /* transform: scale(1.1);  */
   /* border-radius: 18px;  */
 }
 
 .nav li {
   margin: 0 10px;
   padding-bottom: 5px;
   align-items: center;
   position: relative; 
   display: inline-block;
 }
 
 .nav li::after {
   content: ""; 
   position: absolute;
   left: 0;
   bottom: 0; 
   width: 0; 
   height: 2px; 
   background-color: white; 
   transition: width 0.5s ease; 
 }

 nav li:hover::after {
   width: 100%; /* Expand the line to full width on hover */
 }

  
 .icons li {
   margin-bottom: 20px;
   /* padding-bottom: 10px; */
 }
 
 .icons li a {
   display: flex;
   align-items: center;
   color: white;
   /* transition: transform 0.3s ease, color 0.3s ease; */
 }
 
 .icons li a:hover {
   color: white;
   /* transform: scale(1.2); */
 }
 
 